body {
  background-color: cadetblue;
}




.contact {
  display: inline-block;
  height: 50px;
  width: 250px;
  background-color: rgb(30, 108, 210);
  text-align: center;
  text-indent: 0%;
  float: right;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}



h1 {
  text-align: center;
}

h3 {
  font-size: 20px;
  line-height: 2px;
}

h4 {
  font-size: 18px;
}

a {
  font-size: 16px;
  color: #181510;
}

section {
  margin: 0 auto;
  width: 80%;
  background-color: #f6e9c9;
}

.first-element {
  background-color: lightblue;
}

.second-element {
  background-color: goldenrod;
}

/* Sets display of all elements with class selector to block */
.display-block {
  display: block;
}

/* Sets display of all elements with class selector to inline */
.display-inline {
  display: inline;
}

/* Sets display of all elements with class selector to inline */
.display-none {
  display: none;
}
